html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
}

#chart_canvas {
    width: 75%;
    height: 75%;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    overflow: scroll;
    border: 0.25em solid black;
}

#buttons {
    position: absolute;
    top: 6%;
    right: 12.5%;
}

#chart {
    width: 100%;
    height: 100%;
    transition: transform ease 0.3s;
}

.zoom {
    background-color: black;
    color: white;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    margin-top: 0.25em;
    margin-left: 0.25em;
}

.zoom:hover {
    background-color: white;
    color: black;
    border: 0.25em solid black;
}

.reset {
    background-color: black;
    color: white;
    font-size: 1.5em;
    width: 5em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    margin-top: 0.25em;
    margin-left: 0.25em;
}

.reset:hover {
    background-color: white;
    color: black;
    border: 0.25em solid black;
}